@import "tailwindcss";

:root {
  --font-sans: "GTA", system-ui, sans-serif;
  --font-narrow: "GTA Narrow", system-ui, sans-serif;
}

@font-face {
  font-family: GTA;
  src: url("/fonts/gta-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GTANarrow;
  src: url("/fonts/gta-narrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GTABold;
  src: url("/fonts/gta-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GTASemiBold;
  src: url("/fonts/gta-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
