---
 import KeepScrolling from '@/assets/keep-scrolling.svg';
import '@/styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GTA VI</title>
	</head>
	<body>
		<slot />
		<KeepScrolling class="fixed bottom-3 right-0 left-0 animate-bounce mx-auto" />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #111;
		color: white;
		height: 300vh;
		overflow-x: hidden;
		overscroll-behavior: none;
	}
</style>
